.box-item {
    border-radius: 20px;
    max-width: 270px;
    width: 100%;
    padding: 49px 45px 40px;
    max-height: 326px;
    cursor: pointer;
}

@media only screen and (max-width:1200px){
    .box-item{
        max-width: 48%;
    }
}

@media only screen and (max-width:767px){
    .box-item{
        max-width: 100%;
    }
}

.box-item h3 {
    margin-bottom: 23px;
}

.box-item p {
    margin-top:14px;
    line-height: 1.7;
}
.section-speciality__box {
    display: flex;
    align-items:center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.section-speciality__box .box-item:nth-child(1){
    margin-top:-45px;
}

.section-speciality__box .box-item:nth-child(3){
    margin-top:-60px;
}

@media only screen and (max-width:1200px){
    .section-speciality__box{
        justify-content: space-between;
    }
}
@media only screen and (max-width:1024px){
    .section-speciality__box{
        margin-top: 50px;
    }

    .section-speciality__box .box-item{
        margin-right: 0;
    }
}

@media only screen and (max-width:767px){
    .section-speciality__box{
        justify-content: center;
        padding-top: 30px;
    }

    .section-speciality__box .box-item{
        margin-right: 0 !important;
        margin-top:30px !important;
    }

    .section-speciality__box .box-item:nth-child(3),
    .section-speciality__box .box-item:nth-child(4){
        margin-top: 45px;
    }

}
