.swiper.swiper-vertical {
    height: 570px;
    overflow: hidden;
}

.swiper.swiper-vertical .swiper-wrapper .swiper-slide{
    height: auto !important;
}

.content-right {
    justify-content: flex-end;
}

@media only screen and (max-width:1024px){
    .content-right{
        justify-content: space-between;
        padding-top: 50px;
    }
}

.content-right .swiper {
    margin-left: 30px;
    margin-right: 0;
}

@media only screen and (max-width:1024px){
    .content-right .swiper {
        margin-left: 0px;
    }

    .content-right .swiper:nth-child(1){
        display:none;
    }
}