.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.header.is-fixed {
    position: fixed;
    top: 0;
    box-shadow: 1px 1px 5px 0px #0000;
    background: #200b6a;
    height: 90px;
}

.header .header__right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .header__right .mobile-button {
    display: none;
    position: relative;
    width: 26px;
    height: 26px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-left: 30px;
}

@media only screen and (max-width:1024px) {
    .header .header__right .mobile-button {
        display: block;
    }
}

.header .header__right .mobile-button::before,
.header .header__right .mobile-button::after {
    content: '';
    position: absolute;
    top: 0;
    height: 3px;
    width: 100%;
    left: 0;
    top: 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

}

.header .header__right .mobile-button::before,
.header .header__right .mobile-button::after,
.header .header__right .mobile-button span {
    background-color: #fff;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.header .header__right .mobile-button::before {
    -webkit-transform: translate3d(0, -7px, 0);
    -moz-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0);
}

.header .header__right .mobile-button::after {
    -webkit-transform: translate3d(0, 7px, 0);
    -moz-transform: translate3d(0, 7px, 0);
    transform: translate3d(0, 7px, 0);
}

.header .header__right .mobile-button span {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    left: 0;
    top: 50%;
    overflow: hidden;
    text-indent: 200%;
}

.header .header__right .mobile-button.active::before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    -moz-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}

.header .header__right .mobile-button.active::after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}

.header .header__right .mobile-button.active span {
    opacity: 0;
}

.header .header__right .main-nav .menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header .header__right .main-nav .menu li {
    position: relative;
    width:100%;
}

.header .header__right .main-nav .menu li a {
    position :relative;
    display: block;
}

.header .header__right .main-nav .menu li {
    padding-right: 44px;
}

.header .header__right .main-nav .menu li:nth-last-child(1){
    padding-right: 30px;
}
 
@media only screen and (max-width:1024px){
    .header .header__right .main-nav {
        margin:0 auto;
        width:40%;
        height: 100vh;
        position:absolute;
        top:0;
        left:0;
        z-index: 999999;
        background-color: #4526b1;
        box-shadow: 0px 3px 16px #000;
        transform:translateX(-100%);
        transition: transform 0.5s ease;
    } 
    
    .header .header__right .main-nav.active {
        transform: translateX(0);
    }
    .header .header__right .main-nav .menu {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 0;
    }
    .header .header__right .main-nav .menu li{
        padding:15px 0;
        border-bottom: 1px solid #000;
    
    }
    .header .header__right .main-nav .menu li a{
        padding:15px 0;
        padding-left: 14px;
    }
    .header .header__right .main-nav .menu li ul li:last-child{
        border:none
    }
    
    .header .header__right .main-nav .menu li.menu-item-has-children>a::after{
        content:'\f107';
        font-family:"Font Awesome 5 Pro";
        font-weight: 300;
        position: absolute;
        right: 20px;
        top:48%;
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .header .header__right .main-nav .menu li.menu-item-has-children.active{
        padding-bottom: 5px;
    }
}

@media only screen and (max-width: 768px) {
    .header .header__right .main-nav{
        width:60%;
    }
}

.header .header__right .button{
    display: flex;
}

@media only screen and (max-width: 768px) {
    .header .header__right .button{
        display: none;
    }
}


